@{
    ViewBag.Title = "Tutorial Page 2";
}

<h2>Tutorial Page-2</h2>
<p>This is the second thing you need know about my website.</p>
<a asp-action="Index" asp-route-id="Page1" asp-area="Help">Prev</a>
<a asp-action="Index" asp-route-id="Page3" asp-area="Help">Next</a>