@{
    ViewBag.Title = "Tutorial Page 3";
}

<h2>Tutorial Page-3</h2>
<p>This is the third thing you need know about my website.</p>
<a asp-action="Index" asp-route-id="Page2" asp-area="Help">Prev</a>